.form {
  display: flex;
  height: 4rem;
  align-items: flex-end;
}

.form > *:first-child {
  flex: 0 0 auto; /* First child keeps its natural width (or set a fixed one) */
}

.form > *:not(:first-child) {
  & * {
    min-width: 0;
  }
  min-width: 0;
  margin: 6px 3px;
  flex: 1 1 0;
}

.heading-table th:not(:first-child) {
  padding: 0;
  box-sizing: border-box;
}
.heading-table th:first-child {
  height: 40px;
}
